body {
    background-color: #1a1b2d;
}

.bg-yellow {
    background-color: yellow;
    color: black;
}

.bg-purple {
    background-color: purple;
    color: white;
}

.headline-text{
    font-weight: lighter;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.lang{
    border-radius: 6px;
    border:1px solid white;
    background-color: chocolate;
}
